<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv5 Flask App</title>
</head>
<body>
    <h1>YOLOv5 Flask App</h1>

    <h2>Live Inference</h2>
    <form id="liveInferenceForm">
        <label for="pathSavedImages">Path where you want to Save Images:</label>
        <input type="text" id="pathSavedImages" name="pathSavedImages" value="saved_images">
        <button type="submit">Start Live Inference</button>
    </form>

    <script>
        document.getElementById('liveInferenceForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch('/start_live_inference', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
              .then(data => {
                  alert(data.status);
              });
        });
    </script>
</body>
</html>